<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Login</legend>
                    </div>
                    <div class="control-group">
                        <!-- email -->
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input type="email" ng-model="registro.usuario.email" name="email" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" ng-model="registro.usuario.password" name="password" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-primary" ng-click="registro.entrar()">Login</button>
                        </div>
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" ng-click="registro.registrar()" name="registrar">Registro</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
